.jumbotron{
    background-image: url("/img/home-teaching.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding: 10px 0px;
}
@media (min-width: 768px) {
    .navbar-form {
        width: auto;
        border: 0;
        margin-left: 0;
        margin-right: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 0px;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}